body {
    background-color: #F3E4C8;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;   
    color: #000000;
    line-height: 1.6;
}

h1, h2, h3 {
    color: #8A4F2A;
}

p {
    line-height: 1.8;
}

a {
    color: #8A4F2A;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#hero-titulo {
    font-size: 2.4rem;
    font-weight: bold;
    color: #8A4F2A;
}

.boton {
    display: inline-block;
    background: #A67B5B;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.boton:hover {
    background: #8C5A3A;
}

header {
    background-color: #F8EAD6;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 2px solid #C7A27A;
}

article, .card, section div {
    background-color: #FFF9EF;
    padding: 20px;
    border-radius: 12px;
    border: 2px solid #E2C8A8;
    margin-bottom: 25px;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    nav ul {
        display: block;
    }
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  gap: 20px;
}

/* Botón a la izquierda */
.btn-flex-demo {
  padding: 8px 18px;
  background-color: #CFB980;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* Menú centrado */
#main-nav ul {
  list-style: none;
  display: flex;
  gap: 28px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

/* Logo y nombre a la derecha */
.brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.brand img {
  border-radius: 6px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    height: 250px;
    border: 2px solid #E2C8A8;
    background: #FFF9EF;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-section h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    text-align: left;
}

.destacado {
    grid-column: span 2;
}

@media (max-width: 700px) {
    .destacado {
        grid-column: span 1;
    }
}
